@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Fix bad view when add more than 4 products
// Not understand yet
.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {font-size: 45px;}
  h5 {font-size: 25px;}
  p {font-size: 18px;}
}

.jumbotron {
    background: -webkit-linear-gradient(90deg, #eef2f3 10%, #8e9eab 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #eef2f3 10%, #8e9eab 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #eef2f3 10%, #8e9eab 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #eef2f3 10%, #8e9eab 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #eef2f3 10%, #8e9eab 90%); /* W3C */
  h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
  }
}

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
  background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #d5641c;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #019285;
  font-size: 14px;
}

.center {
  text-align: center;
}

.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.product-name {
  color: #84B0E8;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
